*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    
}


.container-fluid{
    background: #D1FAFF;


}

.heading{
    padding-top: 30px;
    justify-content: center;
    align-items: center;
margin-bottom: 40px;
padding-left: 290px;



}
.democlass{
    margin-top: 24px;
    margin-left: 5px;
}


.democlass1{
    margin-top: 48px;
    margin-left: 5px;
}

.h{
    list-style-type:none ;
    margin-top: 20px;
}

.demo{

    margin-left: 20px;
}
